@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
&nbsp;Check-In Headquarters<br>
&nbsp;333 Main St. Milwaukee, WI<br>
    <abbr title="Phone">P:</abbr>
414.333.4444</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>