@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Check-In</h1>
    <p class="lead">The Check-In App is your go-to app for staying in touch with family and friends quickly and conveniently while you are not with them.</p>
</div>
<h2>Have you ever wished that there was a really easy and convenient way to keep track of friends and family when they are away from you?</h2>
<h4>Rather than writing out long text messages or making long distance phone calls, the Check-In App allows you to send a message with the click of a button to let your friends or family know where you are and what you are doing. It also has a feature that tracks your location so that way, your friends and family know where you are and can be assured that you are safe. The Check-In App allows you to store contacts and to group them in different categories. For example, you may not always want to send the same message you are sending to your friends as you are to your parents, and vice versa. Another great feature of this app is the emergency alert messages. Your select recipients will receive an emergency alert message if you happen to go far from your supposed location or if your recipients don't hear from you for a long period of time.</h4>
<h2>Best Uses</h2>
<p>For parents, the Check-In App is great for keeping track of your children when they are away from you, whether if they are on a trip for school or with friends or if they are just at a friends house. Since you can track their location, you will also be able to identify whether they are where they said they were going to be, or if they lied to you!</p>
<p>For friends, it allows them to see what you are up to and what your plans are for a given day or night.</p>
<p>Most importantly, this app allows your loved ones to know that you are safe by tracking your location and sending an emergency alert message when you may be in danger.</p>